<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>


    <style type="text/css">
        .borderShadow {
            box-shadow: 5px 5px 22px 0px #2C3E50;
        }

    </style>

    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>
    <script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

    <!--<link rel="shortcut icon" href="assets/images/gt_favicon.png">-->
    <style type="text/css">
        .chartSize {
            height: 100%;
            width: 50%;
            position: relative;
        }

        .scrollit {
            overflow: scroll;
            height: 350px;
        }

        #container2 {
            width: 100%;
            height: 500px;
        }
    </style>


    <script type="text/javascript">
//        function generateMeterResults() {
            var gaugeOptions = {

                chart: {
                    backgroundColor: '#EDEEFA',
                    type: 'solidgauge'

                },

                title: null,

                pane: {
                    center: ['50%', '85%'],
                    size: '140%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '60%',
                        outerRadius: '100%',
                        shape: 'arc'
                    }
                },

                tooltip: {
                    enabled: false
                },

                // the value axis
                yAxis: {
                    stops: [
                        [0.1, '#DF5353'], // red
                        [0.5, '#DDDF0D'], // yellow
                        [0.9, '#55BF3B']  // green
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -70
                    },
                    labels: {
                        y: 16
                    }
                },

                plotOptions: {
                    solidgauge: {
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                }
            };

            // The speed gauge




        $(function () {
            <% if (data.length > 0 && data != 'undefined' && data != null && data) {
            %>

            $(function () {

                $('#container3').highcharts(Highcharts.merge(gaugeOptions, {
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: {
                            text: 'M&A Prediction'

                        }
                    },

                    credits: {
                        enabled: false
                    },

                    series: [{
                        name: 'M&A Prediction',
                        data: [<%= finalPercent %>],
                        dataLabels: {
                            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                            ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                            '<span style="font-size:12px;color:silver">%</span></div>'
                        },
                        tooltip: {
                            valueSuffix: '%'
                        }
                    }]

                }));

                // Create the chart
                $('#container1').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Stock Analysis'
                    },
                    xAxis: {
                        type: 'category'
                    },

                    legend: {
                        enabled: false
                    },

                    plotOptions: {
                        series: {
                            borderWidth: 0,
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },

                    series: [{
                        name: 'value',
                        colorByPoint: true,
                        data: [{
                            name: 'Current Assets',
                            y: parseInt(<%= comp1.assets_combined + comp2.assets_combined %>),
                            drilldown: 'assets'
                        }, {
                            name: 'Liability',
                            y: parseInt(<%= comp1.liability_combined + comp2.liability_combined %>),
                            drilldown: 'liability'
                        }, {
                            name: 'Gross Margin',
                            y: parseInt(<%= comp1.profit_combined + comp2.profit_combined %>),
                            drilldown: 'margin'
                        }, {
                            name: 'EBITDA',
                            y: parseInt(<%= comp1.ebitda_combined + comp2.ebitda_combined %>),
                            drilldown: 'ebitda'
                        }, {
                            name: 'Cash and Cash Equivalents',
                            y: parseInt(<%= comp1.cash_combined + comp2.cash_combined %>),
                            drilldown: 'cash'
                        }
                        ]
                    }],
                    drilldown: {
                        series: [{
                            id: 'assets',
                            name: 'Current Assets',
                            data: [{
                                name: '<%= comp1[0].Company_Name %>',
                                y: parseInt(<%= comp1.assets_combined %>),
                                drilldown: 'comp10'
                            }, {
                                name: '<%= comp2[0].Company_Name %>',
                                y: parseInt(<%= comp2.assets_combined %>),
                                drilldown: 'comp20'
                            }

                            ]
                        }, {
                            id: 'liability',
                            name: 'Liability',
                            data: [{
                                name: '<%= comp1[0].Company_Name %>',
                                y: parseInt(<%= comp1.liability_combined %>),
                                drilldown: 'comp11'
                            }, {
                                name: '<%= comp2[0].Company_Name %>',
                                y: parseInt(<%= comp2.liability_combined %>),
                                drilldown: 'comp21'
                            }

                            ]
                        }, {
                            id: 'margin',
                            name: 'Gross Margin',
                            data: [{
                                name: '<%= comp1[0].Company_Name %>',
                                y: parseInt(<%= comp1.profit_combined %>),
                                drilldown: 'comp12'
                            }, {
                                name: '<%= comp2[0].Company_Name %>',
                                y: parseInt(<%= comp2.profit_combined %>),
                                drilldown: 'comp22'
                            }

                            ]
                        }, {
                            id: 'ebitda',
                            name: 'EBITDA',
                            data: [{
                                name: '<%= comp1[0].Company_Name %>',
                                y: parseInt(<%= comp1.ebitda_combined %>),
                                drilldown: 'comp14'
                            }, {
                                name: '<%= comp2[0].Company_Name %>',
                                y: parseInt(<%= comp2.ebitda_combined %>),
                                drilldown: 'comp24'
                            }

                            ]
                        }, {
                            id: 'cash',
                            name: 'Cash and Cash Equivalents',
                            data: [{
                                name: '<%= comp1[0].Company_Name %>',
                                y: parseInt(<%= comp1.cash_combined %>),
                                drilldown: 'comp13'
                            }, {
                                name: '<%= comp2[0].Company_Name %>',
                                y: parseInt(<%= comp2.cash_combined %>),
                                drilldown: 'comp23'
                            }

                            ]
                        },
                            {

                                id: 'comp10',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp1[0].Total_Current_Assets %>)},
                                    {name: '2013', y: parseInt(<%= comp1[1].Total_Current_Assets %>)},
                                    {name: '2014', y: parseInt(<%= comp1[2].Total_Current_Assets %>)}
                                ]
                            },
                            {

                                id: 'comp11',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp1[0].Total_Liabilities %>)},
                                    {name: '2013', y: parseInt(<%= comp1[1].Total_Liabilities %>)},
                                    {name: '2014', y: parseInt(<%= comp1[2].Total_Liabilities %>)}
                                ]
                            },
                            {

                                id: 'comp12',
                                name: 'Gross Profit',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp1[0].Gross_Profit %>)},
                                    {name: '2013', y: parseInt(<%= comp1[1].Gross_Profit %>)},
                                    {name: '2014', y: parseInt(<%= comp1[2].Gross_Profit %>)}
                                ]
                            },
                            {

                                id: 'comp13',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp1[0].EBITDA %>)},
                                    {name: '2013', y: parseInt(<%= comp1[1].EBITDA %>)},
                                    {name: '2014', y: parseInt(<%= comp1[2].EBITDA %>)}
                                ]
                            },
                            {

                                id: 'comp14',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp1[0].Cash_and_Cash_Equivalents %>)},
                                    {name: '2013', y: parseInt(<%= comp1[1].Cash_and_Cash_Equivalents %>)},
                                    {name: '2014', y: parseInt(<%= comp1[2].Cash_and_Cash_Equivalents %>)}
                                ]
                            },
                            {

                                id: 'comp20',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp2[0].Total_Current_Assets %>)},
                                    {name: '2013', y: parseInt(<%= comp2[1].Total_Current_Assets %>)},
                                    {name: '2014', y: parseInt(<%= comp2[2].Total_Current_Assets %>)}
                                ]
                            },
                            {

                                id: 'comp21',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp2[0].Total_Liabilities %>)},
                                    {name: '2013', y: parseInt(<%= comp2[1].Total_Liabilities %>)},
                                    {name: '2014', y: parseInt(<%= comp2[2].Total_Liabilities %>)}
                                ]
                            },
                            {

                                id: 'comp22',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp2[0].Gross_Profit %>)},
                                    {name: '2013', y: parseInt(<%= comp2[1].Gross_Profit %>)},
                                    {name: '2014', y: parseInt(<%= comp2[2].Gross_Profit %>)}
                                ]
                            },
                            {

                                id: 'comp23',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp2[0].EBITDA %>)},
                                    {name: '2013', y: parseInt(<%= comp2[1].EBITDA %>)},
                                    {name: '2014', y: parseInt(<%= comp2[2].EBITDA %>)}
                                ]
                            },
                            {

                                id: 'comp24',
                                data: [
                                    {name: '2012', y: parseInt(<%= comp2[0].Cash_and_Cash_Equivalents %>)},
                                    {name: '2013', y: parseInt(<%= comp2[1].Cash_and_Cash_Equivalents %>)},
                                    {name: '2014', y: parseInt(<%= comp2[2].Cash_and_Cash_Equivalents %>)}
                                ]
                            }
                        ]
                    }
                })
            });



            <% } %>

        });

        var chart2 = AmCharts.makeChart("container2", {
            "type": "serial",
            "theme": "light",
            "dataDateFormat": "YYYY-MM-DD",
            "precision": 2,
            "valueAxes": [{
                "id": "v1",
                "title": "Sales",
                "position": "left",
                "autoGridCount": false,
                "labelFunction": function(value) {
                    return "$" + Math.round(value) + "M";
                }
            }, {
                "id": "v2",
                "title": "Market Days",
                "gridAlpha": 0,
                "position": "right",
                "autoGridCount": false
            }],
            "graphs": [{
                "id": "g3",
                "valueAxis": "v1",
                "lineColor": "#e1ede9",
                "fillColors": "#e1ede9",
                "fillAlphas": 1,
                "type": "column",
                "title": "Actual Sales",
                "valueField": "sales2",
                "clustered": false,
                "columnWidth": 0.5,
                "legendValueText": "$[[value]]M",
                "balloonText": "[[title]]<br/><b style='font-size: 130%'>$[[value]]M</b>"
            }, {
                "id": "g4",
                "valueAxis": "v1",
                "lineColor": "#62cf73",
                "fillColors": "#62cf73",
                "fillAlphas": 1,
                "type": "column",
                "title": "Target Sales",
                "valueField": "sales1",
                "clustered": false,
                "columnWidth": 0.3,
                "legendValueText": "$[[value]]M",
                "balloonText": "[[title]]<br/><b style='font-size: 130%'>$[[value]]M</b>"
            }, {
                "id": "g1",
                "valueAxis": "v2",
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "bulletSize": 5,
                "hideBulletsCount": 50,
                "lineThickness": 2,
                "lineColor": "#20acd4",
                "type": "smoothedLine",
                "title": "Market Days",
                "useLineColorForBulletBorder": true,
                "valueField": "market1",
                "balloonText": "[[title]]<br/><b style='font-size: 130%'>[[value]]</b>"
            }, {
                "id": "g2",
                "valueAxis": "v2",
                "bullet": "round",
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "bulletSize": 5,
                "hideBulletsCount": 50,
                "lineThickness": 2,
                "lineColor": "#e1ede9",
                "type": "smoothedLine",
                "dashLength": 5,
                "title": "Market Days ALL",
                "useLineColorForBulletBorder": true,
                "valueField": "market2",
                "balloonText": "[[title]]<br/><b style='font-size: 130%'>[[value]]</b>"
            }],
            "chartScrollbar": {
                "graph": "g1",
                "oppositeAxis": false,
                "offset": 30,
                "scrollbarHeight": 50,
                "backgroundAlpha": 0,
                "selectedBackgroundAlpha": 0.1,
                "selectedBackgroundColor": "#888888",
                "graphFillAlpha": 0,
                "graphLineAlpha": 0.5,
                "selectedGraphFillAlpha": 0,
                "selectedGraphLineAlpha": 1,
                "autoGridCount": true,
                "color": "#AAAAAA"
            },
            "chartCursor": {
                "pan": true,
                "valueLineEnabled": true,
                "valueLineBalloonEnabled": true,
                "cursorAlpha": 0,
                "valueLineAlpha": 0.2
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "dashLength": 1,
                "minorGridEnabled": true
            },
            "legend": {
                "useGraphSettings": true,
                "position": "top"
            },
            "balloon": {
                "borderThickness": 1,
                "shadowAlpha": 0
            },
            "export": {
                "enabled": true
            },
            "dataProvider": [{
                "date": "2013-01-16",
                "market1": 71,
                "market2": 75,
                "sales1": 5,
                "sales2": 8
            }, {
                "date": "2013-01-17",
                "market1": 74,
                "market2": 78,
                "sales1": 4,
                "sales2": 6
            }, {
                "date": "2013-01-18",
                "market1": 78,
                "market2": 88,
                "sales1": 5,
                "sales2": 2
            }, {
                "date": "2013-01-19",
                "market1": 85,
                "market2": 89,
                "sales1": 8,
                "sales2": 9
            }, {
                "date": "2013-01-20",
                "market1": 82,
                "market2": 89,
                "sales1": 9,
                "sales2": 6
            }, {
                "date": "2013-01-21",
                "market1": 83,
                "market2": 85,
                "sales1": 3,
                "sales2": 5
            }, {
                "date": "2013-01-22",
                "market1": 88,
                "market2": 92,
                "sales1": 5,
                "sales2": 7
            }, {
                "date": "2013-01-23",
                "market1": 85,
                "market2": 90,
                "sales1": 7,
                "sales2": 6
            }, {
                "date": "2013-01-24",
                "market1": 85,
                "market2": 91,
                "sales1": 9,
                "sales2": 5
            }, {
                "date": "2013-01-25",
                "market1": 80,
                "market2": 84,
                "sales1": 5,
                "sales2": 8
            }, {
                "date": "2013-01-26",
                "market1": 87,
                "market2": 92,
                "sales1": 4,
                "sales2": 8
            }, {
                "date": "2013-01-27",
                "market1": 84,
                "market2": 87,
                "sales1": 3,
                "sales2": 4
            }, {
                "date": "2013-01-28",
                "market1": 83,
                "market2": 88,
                "sales1": 5,
                "sales2": 7
            }, {
                "date": "2013-01-29",
                "market1": 84,
                "market2": 87,
                "sales1": 5,
                "sales2": 8
            }, {
                "date": "2013-01-30",
                "market1": 81,
                "market2": 85,
                "sales1": 4,
                "sales2": 7
            }]
        });

    </script>

</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">Company Acquisition Merger</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                            </div>
                            <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>Read All Messages</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-tasks">
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 1</strong>
                                    <span class="pull-right text-muted">40% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 2</strong>
                                    <span class="pull-right text-muted">20% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 3</strong>
                                    <span class="pull-right text-muted">60% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                        <span class="sr-only">60% Complete (warning)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p>
                                    <strong>Task 4</strong>
                                    <span class="pull-right text-muted">80% Complete</span>
                                </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Tasks</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-comment fa-fw"></i> New Comment
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> Message Sent
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-tasks fa-fw"></i> New Task
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#">
                            <strong>See All Alerts</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-alerts -->
            </li>
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li>
                        <a href="/getStats"><i class="fa fa-dashboard fa-fw"></i>Analysis</a>
                    </li>
                    <li>
                        <a href="/stock"><i class="fa fa-dashboard fa-fw"></i> Stock Analysis</a>
                    </li>
                    <li>
                        <a href="/strategy"><i class="fa fa-dashboard fa-fw"></i> Strategy Analysis</a>
                    </li>
                    <li>
                        <a href="/sentiment"><i class="fa fa-dashboard fa-fw"></i> Sentiment Analysis</a>
                    </li>
                    <li>
                        <a href="/company/1"><i
                                    class="fa fa-dashboard fa-fw"></i> <%= comp1[0].Company_Name.toString().toUpperCase() %>
                        </a>
                    </li>
                    <li>
                        <a href="/company/2"><i
                                    class="fa fa-dashboard fa-fw"></i> <%= comp2[0].Company_Name.toString().toUpperCase() %>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Stock Overview</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Default Panel
                    </div>
                    <div class="panel-body">
                        <div id="container1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Default Panel
                    </div>
                    <div class="panel-body">
                        <div id="container2"></div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Default Panel
                    </div>
                    <div class="panel-body">
                        <div id="container3"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Default Panel
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae
                            ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>

        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="js/raphael-min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/sb-admin-2.js"></script>


</body>

</html>
